<p>
  The first five items are tracked, 6-10 aren't
</p>

<p>
  <label>{{input type="checkbox" checked=oneR}} one</label>
  <label>{{input type="checkbox" checked=twoR}} two</label>
  <label>{{input type="checkbox" checked=threeR}} three</label>
  <label>{{input type="checkbox" checked=fourR}} four</label>
  <label>{{input type="checkbox" checked=fiveR}} five</label>
  <label>{{input type="checkbox" checked=sixR}} six</label>
  <label>{{input type="checkbox" checked=sevenR}} seven</label>
  <label>{{input type="checkbox" checked=eightR}} eight</label>
  <label>{{input type="checkbox" checked=nineR}} nine</label>
  <label>{{input type="checkbox" checked=tenR}} ten</label>

  <button
    {{action 'mutate'}}
  >
    Apply
  </button>
</p>
